.homeContainer {
    display: flex;
}

.clientLayoutLeft {
    display: flex;
    flex-direction: column;
    max-width: 614px;
    width: 100%;
    margin-right: 2em;
}

.clientLayoutRight {
    display: flex;
    max-width: 293px;
    width: 100%;
    flex-direction: column;
}

.resumeClientFixed {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 293px;
}

.resumeClientFixed > h2 {
    text-align: center;
}